main > .container {
  padding: 60px 15px 0;
}

.cursor-pointer {
  cursor: pointer;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  z-index: 1999 !important;
}

hr {
  border-color: #444 !important;
}
