body {
  color: whitesmoke;
  font-size: 16px !important;
  line-height: 26px !important;
}

h1 {
  font-size: 2rem !important;
}

h2 {
  font-size: 1.40625rem !important;
}

a:hover {
  color: #00bc8c !important;
}

main > .container {
  padding: 60px 15px 0;
}

.cursor-pointer {
  cursor: pointer;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  z-index: 1999 !important;
}

hr {
  border-color: rgb(59, 59, 59) !important;
}

.has-link {
  border: 1px solid transparent;
}

.has-link:hover {
  filter: grayscale(90%);
  cursor: pointer;
}

.has-link-svg:hover {
  filter: grayscale(90%);
  cursor: pointer;
}

.carousel-control {
  position: absolute;
  top: 45%;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: auto;
  color: #fff;
  text-align: center;
  opacity: 1;
  text-shadow: none;
}
.carousel-control:hover {
  color: #000;
}

.carousel-caption {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
}

.ril__captionContent {
  margin: 0 auto;
}

.ril__caption {
  bottom: 100px !important;
}
