h1 {
  font-size: 2rem !important;
}

h2 {
  font-size: 1.40625rem !important;
}

a:hover {
  color: #00bc8c !important;
}

main > .container {
  padding: 60px 15px 0;
}

.cursor-pointer {
  cursor: pointer;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  z-index: 1999 !important;
}

hr {
  border-color: #444 !important;
}

.has-link {
  border: 1px solid transparent;
}

.has-link:hover {
  filter: grayscale(90%);
  cursor: pointer;
  border: 1px solid #444;
}

.has-link-svg:hover {
  filter: grayscale(90%);
  cursor: pointer;
}
