h1 {
  font-size: 2rem !important;
}

h2 {
  font-size: 1.40625rem !important;
}

main > .container {
  padding: 60px 15px 0;
}

.cursor-pointer {
  cursor: pointer;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
  z-index: 1999 !important;
}

hr {
  border-color: #444 !important;
}

.has-link:hover {
  filter: grayscale(50%);
  cursor: pointer;
}
